<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">

    <title>University Practice | Maksim Vlasov</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>

<body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
        <h1 class="project-name">University Practice</h1>
        <h2 class="project-tagline">by Maksim Vlasov</h2>
        <a href="//github.com/vla5924-practice" class="btn">View on GitHub</a>
    </header>

    <main id="content" class="main-content" role="main">
        {{ content }}

        <footer class="site-footer">
            <span class="site-footer-owner"><a href="//github.com/vla5924-practice">vla5924-practice organization</a> and this webiste are maintained by <a href="//github.com/vla5924">vla5924</a>.</span>
            <span class="site-footer-credits">&copy; Maksim Vlasov. <a href="//mvla.ru">mvla.ru</a></span>
        </footer>
    </main>
</body>

</html>
